.Cashbook .Cashbook-header {
  border: solid 1px black;
  overflow: hidden;
  padding: 1em; }

.Cashbook .Cashbook-records {
  border: solid 1px black;
  border-radius: 0 0 4px 4px;
  list-style: none;
  padding: 0;
  margin: -1px 0 0; }
  .Cashbook .Cashbook-records li {
    border: solid 1px black;
    border-radius: 4px;
    margin: .2em;
    padding: .5em; }
