@import 'common-values.scss';

.Cashbook {
  .Cashbook-header {
    border: solid 1px black;
    overflow: hidden;
    padding: 1em;
  }

  .Cashbook-records {
    border: solid 1px black;
    border-radius: 0 0 $small-radius $small-radius;
    margin: -1px 0 0;

    .Cashbook-add-record {
      border: solid 1px black;
      border-radius: 50%;
      vertical-align: middle;
      width: 2em;
      height: 2em;
      margin: 1.1em;
      display: block;
      float: right;
    }

    ul {
      clear:both;
      overflow: hidden;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}